@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TradingBot</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <!-- Branding / Logo -->
            <a class="navbar-brand" href="@this.Url.Action("HomePage", "Home")">TradingBot</a>

            <!-- Toggle button for mobile view -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Middle Section of Navbar -->
                @if (this.User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@this.Url.Action("PortfolioPage", "Portfolio")">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@this.Url.Action("CreatePortfolioPage", "Portfolio", new { userName = User.Identity.Name })">Create Portfolio</a>
                        </li>
                    </ul>
                }

                <!-- Right Section of Navbar -->
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@this.Url.Action("UserAccount", "User", new { userName = User.Identity.Name })">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@this.Url.Action("Logout", "User")">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@this.Url.Action("RegisterPage", "User")">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@this.Url.Action("LoginPage", "User")">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top mt-4 py-4">
        <div class="container">
            &copy; 2023 - TradingBot - <a href="@this.Url.Action("Privacy", "Home")">Privacy</a>
        </div>
    </footer>

    <script src="~/js/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
