@model TradingBotModels.Models.Account

@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div>
        <h2>Welcome, @Model.UserName!</h2>
    </div>
    <div class="mb-3 d-flex justify-content-end">
        <button id="editButton" class="btn btn-primary">Edit</button>
    </div>
    <div>
        <p>
            If you do not have consumerKey and consumerSecret, don't worry, you can go this page <a href="https://developer.etrade.com/getting-started">Here</a>
            to get your consumerKey and consumerSecret. Remember, you need to have ETrade Account first and my website will not use your consumerKey and consumerSecret for any other purpose
            besides authenticating your account.
        </p>
    </div>
    <form method="post" action="@Url.Action("EditConsumerDetails", "User")">
        <table class="table">
            <tbody>
            <tr>
                <td>Consumer Key</td>
                <td>
                    @if (string.IsNullOrEmpty(Model.ConnectionAuth.ConsumerKey) || Model.ConnectionAuth.ConsumerKey == "None")
                    {
                        <span id="consumerKeySpan">Not Set</span>
                    }
                    else
                    {
                        <span id="consumerKeySpan">@Model.ConnectionAuth.ConsumerKey</span>
                    }
                    <input type="text" id="consumerKeyInput" name="ConsumerKey" value="@Model.ConnectionAuth.ConsumerKey" style="display: none;" />
                </td>
            </tr>
            <tr>
                <td>Consumer Secret</td>
                <td>
                    @if (string.IsNullOrEmpty(Model.ConnectionAuth.ConsumerSecret) || Model.ConnectionAuth.ConsumerSecret == "None")
                    {
                        <span id="consumerSecretSpan">Not Set</span>
                    }
                    else
                    {
                        <span id="consumerSecretSpan">@Model.ConnectionAuth.ConsumerSecret</span>
                    }
                    <input type="text" id="consumerSecretInput" name="ConsumerSecret" value="@Model.ConnectionAuth.ConsumerSecret" style="display: none;" />
                </td>
            </tr>
            </tbody>
        </table>
        <div class="mt-3">
            <input type="hidden" name="userName" value="@Model.UserName"/>
            <button type="submit" id="submitButton" style="display: none;" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function() {
        if (sessionStorage.getItem("authenticated") === "true") {
            alert("Successfully authenticated!");
            sessionStorage.removeItem("authenticated"); // Clear the flag
        }
    });
    var oauthToken;
    var oauthSecretToken;
    $(document).ready(function() {
    
        // Edit Button Event
        $("#editButton").click(function() {
            $(this).hide();
            $("#consumerKeySpan, #consumerSecretSpan").hide();
            $("#consumerKeyInput, #consumerSecretInput, #submitButton").show();
        });

        // Submit Button Event
        $("#submitButton").click(function(e) {
            e.preventDefault();
            submitConsumerDetails();
        });

        // Verify Button Event
        $(document).on("click", "#verifyButton", function() {
            verifyCode();
        });

        // Modal Close Event
        $(document).on('hidden.bs.modal', '#authPopup', function() {
            location.reload();
        });
    
    });
    
    function submitConsumerDetails() {
        var url = "@Url.Action("EditConsumerDetails", "User")";
        $.ajax({
            type: "POST",
            url: url,
            data: {
                ConsumerKey: $("#consumerKeyInput").val(),
                ConsumerSecret: $("#consumerSecretInput").val(),
                UserName: $("input[name='userName']").val()
            },
            success: function(response) {
                var AuthorizationUrl = response.authorizationUrl;
                var isSuccess = response.isSuccess;
                if (isSuccess) {
                    oauthToken = response.oauthToken;
                    oauthSecretToken = response.oauthSecret;
                    showAuthPopup(AuthorizationUrl);
                } else {
                    alert(response.errorMessage);
                }
            },
            error: function(error) {
                console.error("Error occurred:", error);
            }
        });
    }
    
    function verifyCode() {
        var verificationCode = $("#verificationCode").val();
        var consumerKey = $("#consumerKeyInput").val();
        var consumerSecret = $("#consumerSecretInput").val();
        var userName = "@Model.UserName";
        var verifyUrl = "@Url.Action("VerifyCode", "User")";
        $.ajax({
            type: "POST",
            url: verifyUrl,
            data: {
                VerificationCode: verificationCode,
                ConsumerKey: consumerKey,
                ConsumerSecret: consumerSecret,
                OAuthToken: oauthToken,
                oauthSecret: oauthSecretToken,
                UserName: userName
            },
            success: function(response) {
                if (response.isSuccess) {
                    sessionStorage.setItem("authenticated", "true");
                    window.location.href = "User/UserAccount?userName=" + userName;
                } else {
                    alert("Verification failed. Please try again.");
                }
            },
            error: function(error) {
                console.error("Error occurred:", error);
            }
        });
    }
        
    function showAuthPopup(authorizationUrl){
        var popupContent = `
            <div>
                <p class="mb-3">Click the link below to get your verification code:</p>
                <a href="${authorizationUrl}" class="btn btn-primary mb-3" target="_blank">Authorization Link</a>
                <div class="input-group mb-3">
                    <input type="text" id="verificationCode" class="form-control" placeholder="Enter verification code here">
                    <div class="input-group-append">
                        <button id="verifyButton" class="btn btn-success">Verify</button>
                    </div>
                </div>
            </div>`;

        var popup = `
        <div class="modal fade" id="authPopup" tabindex="-1" role="dialog" aria-labelledby="authPopupLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="authPopupLabel">Authorization</h5>
                        </button>
                    </div>
                    <div class="modal-body">
                        ${popupContent}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Authorize</button>
                    </div>
                </div>
            </div>
        </div>
        `;
        

        $("body").append(popup);
        $("#authPopup").modal('show');
    }
</script>
